@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

body {
    font-family: Montserrat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    outline: none;
    border: none;
    font-family: inherit;
}

textarea {
    resize: vertical;
}

a,
button {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.card {
    border: 1px solid #e5e7eb;
    background-color: #fff;
    border-radius: 0.5rem;
}

.form-control {
    background-color: #fff;
    display: block;
    width: 100%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
}

.btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 14px;
    transition: 0.2s all;
}

.btn__primary {
    background-color: #3b82f6;
    color: #fff;
}

.btn__primary:hover {
    background-color: #2563eb;
}

.btn__success {
    background-color: #22c55e;
    color: #fff;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.form-error {
    color: rgb(248, 113, 113);
    font-size: 14px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-file {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.form-file img {
    width: 200px;
    height: 150px;
    background-color: #5f5757;
}

.btn__create {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 12px;
    margin-top: 10px;
}

.modal {
    animation: modalSlide 0.5s ease-out forwards;
}

@keyframes modalSlide {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.link__router:hover {
    opacity: 0.75;
}

.paginate {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.vue-calendar {
    --calendar-input-shadow: none !important;
}

.vue-calendar .calendar_input {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard__logo {
    font-size: 1.25rem;
    font-weight: 700;
}

.aside__link {
    position: relative;
    padding: 0.75rem 1.5rem;
}

.aside__link a {
    font-weight: 700;
    font-size: 0.875rem;
}

.aside__link:hover,
.aside__link .active__link {
    opacity: 0.75;
}

.aside__links {
    margin-top: 1.5rem;
}

.aside__link_active {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(37, 99, 235);
    width: 0.25rem;
}

.aside__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.75rem 1.5rem;
    margin-top: auto;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}

.aside__profile img {
    width: 40px;
    height: 40px;
    border-radius: 99999px;
}

.aside__profile .aside__name {
    font-size: 16px;
}

.aside__logout {
    padding: 0.75rem 1.5rem;
}
